# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]

# Environment Variables
.env

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db